<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style_adm.css">
        <script src="https://kit.fontawesome.com/6ad8afcd8c.js" crossorigin="anonymous"></script>
        <title>ADM - Tickets</title>
    </head>

    <body>
        
        <header>
            <!-- MENU SANDUICHE -->
            <section id="menu-sanduiche">
                <i class="fa-solid fa-bars"></i>
            </section>

            <section id="logo">
                <h3>Divino <img src="img/LOGO.PNG" alt=""> Sabor</h3>
            </section>
        </header>

        <main id="main">
            <article id="art">
                <section id="secTitle">
                    <h2>Gestão de Tickets</h2>
                    <p>Gerenciador de abertura de tickets dos funcionários</p>
                </section>
                <button id="btn">+ Novo Ticket</button>
            </article>

            <article id="artTitles">
                <p>Funcionário</p>
                <p>Cliente</p>
                <p>Entrega</p>
                <p>Valor</p>
                <p>Status</p>
            </article>

            <article id="artCards">
                <section class="cards">
                    <h4>Fábio Vitório</h4>
                    <h4>Maycon Douglas</h4>
                    <h4>22/02/2022</h4>
                    <h4>R$ 49,99</h4>
                    <h4>Pendente</h4>
                </section>
            </article>
        </main>
        
    </body>
    
</html>