@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* !!! HEADER !!! */
header {
    width: 100%;
    height: 70px;
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
}

#menu-sanduiche {
    width: 30px;
    height: 30px;
    background-color: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    border-radius: 2px;
    cursor: pointer;
    transition: .2s;
    position: absolute;
    margin-left: 40px;
}

#menu-sanduiche:hover {
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    background-color: #fff;
}

#logo {
    width: 360px;
    height: 60px;
    margin: 0 auto;
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo>h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 25pt;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    cursor: default;
}

#logo>h3>img {
    width: 50px;
    margin-top: -5px;
}


/* Menu sanduiche da esquerda */
#menu_sanduiche_left {

  margin-top: 70px;
  width: 20%;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  transition: 0.5s;
  z-index: 99;
  float: left;
  display: none;
  transform: translateX(-350px);
  box-shadow: 4px 4px 5px -4px rgba(0, 0, 0, 0.75);
}

.container_MSL {

  border-bottom: 1px solid rgb(186, 186, 186);
  height: 60px;
  transition: 0.5s;
  display: flex;

}

.icon_size_02 {
  font-size: 20px;
  float: left;
  align-self: center;
}

.icon_space_02 {
  margin-left: 40px;
  margin-right: 10px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0px 3px 3px 3px;
  width: 10%;
  float: left;
}

.text_space_01 {

  transition: 0.5s;
  height: 100%;
  float: left;
  text-align: center;
}

.container_MSL:hover {
  color: #ffac38;
}

.font_backup_02 {
  align-self: center;
  text-align: center;
  font-size: 17px;
  padding-top: 17px;
  font-weight: bold;
}

/* Menu sanduiche da esquerda */

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #ffd561 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffc26e;
  border-radius: 10px;
}

/* ===== Scrollbar CSS ===== */



/* Black Screens */
#black_screen_MSL {

  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.758);
  position: fixed;
  transition: 0.5s;
  z-index: 10;
  display: none;
  opacity: 0;
}

/*<-------------------------------------------------------------------->*/

#art {
  width: 94.5%;
  height: 90px;
  margin: 0 auto;
  border-radius: 2px;
  display: flex;
  min-width: 630px;
  float: left;
  margin-top: 100px;
  margin-left: 40px;
}

#secTitle {
  width: 400px;
  padding-top: 10px;
  padding-left: 20px;
}

#mini_dashboards_space{

  width: 100%;
  height: 200px;
  float: left;
  margin-top: 20px;
  display: flex;
  justify-content: center;

}

.container_MD{
  width: 480px;
  height: 90%;
  margin-top: 10px;
  margin-left: 42px;
  margin-right: 42px;
  float: left;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  background-color: #ffffff;
}

.main_info{
  width: 60%;
  margin-top: 10px;
  margin-left: 20px;
  height: 35px;
  font-weight: bold;
  float: left;
}

.change_info_div{

  float: right;
  width: 31%;
  margin-top: 10px;
  margin-right: 10px;
  height: 27px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: end;
  color: #9da3af;
  font-weight: bold;
  transition: 1s;
  border: 0px;

}

.change_info_div button {

  
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  color: #9da3af;
}

.change_info_div:hover button {

  color: #e78e00;
  transition: 1s;
  
}

.container_valor{

  float: left;
  height: 57%;
  width: 93%;
  font-size: 50px;
  font-weight: bold;
  margin-left: 16px;
  margin-right: 13px;
}

.value_text{

  height: 57%;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container_porcentagem{
  float: left;
  width: 93%;
  margin-left: 16px;
  margin-right: 13px;
  height: 17%;
  font-weight: bold;
  
}

.bottom_text{
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #9da3af;
}

#grafico_01{
  float: left;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  background-color: #ffffff;
  height: 470px;
  width: 61.2%;
  border-radius: 4px;
}

.titulo_container{
  margin: 0 auto;
  margin-top: 20px;
  height: 50px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.Title_01{

  font-size: 30px;
  font-weight: bolder;
  width: 80%;
}

.container_grafico_01{
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#grafico_02{

  float: right;
  margin-top: 20px;
  margin-right: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  background-color: #ffffff;
  height: 240px;
  width: 27.7%;
  border-radius: 4px;
  
}

.container_grafico_02{
  
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

.Title_02{

  font-size: 30px;
  font-weight: bolder;
  width: 100%;
  text-align: center;
}

#maispedidos{
  text-align: center;
  height: 100%;
}

#grafico_03{

  float: right;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-right: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  background-color: #ffffff;
  height: 200px;
  width: 27.7%;
  border-radius: 4px;
  
}


/* Chrome, Edge, and Safari */
#container_funcionarios::-webkit-scrollbar {
  width: 6px;
}

#container_funcionarios::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

#container_funcionarios::-webkit-scrollbar-thumb {
  background-color: #636363;
  border-radius: 10px;
}

/* ===== Scrollbar CSS ===== */
#container_funcionarios{

  max-height: 150px;
  border-top: 1px solid #c8c8c8;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 0px;
}

.listagem_funcionario{

  font-size: 20px;
  width: 95%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  margin-top: 10px;
  border-radius:  5px;
  padding-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px;
  padding-right: 10px;

}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #ffd561 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #adadad;
  border-radius: 2px;
}

/* ===== Scrollbar CSS ===== */

#user_logo{
  border: 2px solid rgb(255, 255, 255);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  float: right;
  margin-right: 10px;
  background-image: url(img/LOGO.PNG);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.name_logado{

  color: #fff;
  font-weight: bold;
  font-size: 17px;
  margin-right: 10px;
}

#doAno {
  display: none;
}

#fatAno {
  display: none;
}